.referral-card{
    padding: clamp(21px, 2.3396vw, 31px) clamp(15px, 1.5094vw, 20px);
    border-radius: 21px;
    background: var(--gradient-e);
    @include gradient-border(var(--gr-r), 1px);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 7px clamp(15px, 1.5094vw, 20px);

    &__title{
        padding-top: clamp(9px, 1.0566vw, 14px);
        font-family: var(--second-family);
        font-weight: 700;
        font-size: clamp(26px, 2.4151vw, 32px);
    }

    &__level{
        font-size: clamp(14px, 1.2075vw, 16px);
        line-height: 162%;
        color: rgba(var(--cl-c),1.0);
    }

    &__icon{
        background: rgba(var(--bg-k),1.0);
        width: clamp(40px, 3.3962vw, 45px);
        height: clamp(40px, 3.3962vw, 45px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        grid-row: span 2;
    }

    &__label{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        border-radius: 0 221px 236px 197px;
        padding: 12px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gr-i);
    }

    &__percent{
        font-family: var(--third-family);
        font-weight: 700;
        font-size: clamp(18px, 1.5094vw, 20px);
        color: rgba(var(--cl-f),1.0);
    }


    &--mode{
        padding: clamp(21px, 2.6496vw, 31px) clamp(15px, 1.7094vw, 20px);
        grid-gap: 7px clamp(15px, 1.7094vw, 20px);

        .referral-card{
            &__title{
                padding-top: clamp(4px, .8547vw, 10px);
                font-size: clamp(26px, 2.735vw, 32px);
            }

            &__label{
                border-radius: 0 221px 236px 360px;
            }
        
            &__level{
                font-size: clamp(14px, 1.3675vw, 16px);
            }
        
            &__icon{
                width: clamp(40px, 3.8462vw, 45px);
                height: clamp(40px, 3.8462vw, 45px);
            }
        
            &__percent{
                font-size: clamp(18px, 1.7094vw, 20px);
            }
        }
    }
}