<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__inner">
      <div class="footer__col">
          <a href="/" class="footer-logo logo">
            <img width="123" height="29" src="img/logo.png" alt="logo">
          </a>

          <div class="main-supply">
              <div class="main-supply__left">
                <span class="main-supply__icon">
                  <svg width='40' height='40'>
                    <use href='img/sprite/sprite.svg#blw'></use>
                  </svg>
                </span>
                <span class="main-supply__title">BLW</span>
                <span class="main-supply__value">????</span>
              </div>
              <ul>
                <li>
                  <span class="main-supply__title">Max Supply</span>
                  <span class="main-supply__value">700 000 000</span>
                </li>
                <li>
                  <span class="main-supply__title">Total supply</span>
                  <span class="main-supply__value">621 743 968</span>
                </li>
                <li>
                  <span class="main-supply__title">Market Cap:</span>
                  <span class="main-supply__value">$34 903 341</span>
                </li>
              </ul>
          </div>
      </div>

      <div class="footer__col">
        <div class="encryption">
          <a href="#" class="encryption__link">
            <img width="24" height="24" src="./img/sprite/globe.svg" alt="image">
            <b class="gradient-text">https://</b>biflow.io
          </a>
          <span class="encryption__text">
            <img width="24" height="24" src="./img/sprite/shield.svg" alt="image">
            EV SSL Data encryption
          </span>
        </div>

        <nav class="footer-nav">
          <div class="footer-nav__col">
            <span class="footer-nav__title">Company</span>
            <ul>
              <li><a href="#">About company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Gitbook</a></li>
            </ul>
    
          </div>
          <div class="footer-nav__col">
            <span class="footer-nav__title">Product</span>
            <ul>
              <li><a href="#">Mining</a></li>
              <li><a href="#">Referral program</a></li>
              <li><a href="#">Airdrop</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <span class="footer-nav__title">Community and support</span>
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">FaQ</a></li>
              <li><a href="#">Live support</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="footer__col footer__col--right">
        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#x'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#insta'></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="footer__audit">
          <img width="106" height="32" src="./img/index/audit.png" alt="image">
        </span>
      </div>
      </div>
      <span class="footer__copyright">© 2024 BiFlow</span>
    </div>
  </div>
</footer>
