.main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;


    .main-btn{
        margin-top: 5px;
    }

    &__field{
        display: flex;
        flex-direction: column;
        grid-gap: 6px;
    }

    &__name{
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
    }

    &__label{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 99px;
        height: 46px;
        background: rgba(var(--bg-f),1.0);

    }

    &__input{
        padding: 11px 20px 15px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-a),1.0);
        width: 85%;

        &::placeholder{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: rgba(var(--cl-a),1.0);
        }
    }

    &__coin{
        font-size: 14px;
        line-height: 143%;
        color: rgba(var(--cl-c),1.0);
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

    .select{
        background: #0b0a17;

        &__list{
            background: #0b0a17;
        }
    }
}