.affiliate-section{
    padding-bottom: clamp(90px, 15.0427vw, 176px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 34px;
        max-width: Min(56.1538vw, 657px);
    }

    &__top{
        display: flex;
        flex-direction: column;
        grid-gap: 34px;

        p{
            max-width: Min(52.906vw, 619px);
        }
    }

    .title{
        b{
            margin-left: clamp(20px, 4.2735vw, 50px);
        }
    }

    &__image{
        position: absolute;
        top: 0;
        right: -12%;
        z-index: -1;
    }

    .container{
        z-index: 1;
    }
}