.dashboard-section{
    padding-bottom: clamp(50px, 5.1321vw, 68px);
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: clamp(16px, 1.7094vw, 20px) 16px;
    }
}