.join-section{
    padding-bottom: clamp(60px, 11.9658vw, 140px);
    z-index: 3;
    
    
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 2.9915vw, 35px);

        &--mode{
            grid-gap: clamp(48px, 5.812vw, 68px);
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: 33px;

        .join-top--docs{
            margin-top: -6px;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(16px, 1.7094vw, 20px);
    }

    &__links{
        display: grid;
        grid-gap: 16px 20px;


        @include for-mobile{
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile{
            grid-template-columns: 100%;
        }
    }

    .title {
        font-family: var(--third-family);
        line-height: 129%;

        b{
            font-family: var(--second-family);
            font-weight: 400;
        }
      }


      &::before, &::after{
        top: initial;
        bottom: 0;
        transform: translateY(20%);

        @include laptop{
            @include for-mobile{
            transform: translateY(45%);
        }
        }

        @include small-tablet{
            filter: blur(0);
        }

        @include mobile{
            transform: translateY(40%);
        }
      }

      &::before{
        @include small-tablet{
        left: 0;
        }
      }

      &::after{
       @include small-tablet{
        right: 0;
       }
      }

      &--mode{
        padding-bottom: clamp(60px, 10.5983vw, 124px);
      }

      &--tutorial{
        padding-bottom: clamp(60px, 9.4017vw, 110px);
      }
}