.choose-list{
    display: grid;
    grid-gap: 15px 12px;

    @include for-small-tablet{
        grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet{
        grid-template-columns: 100%;
    }

    &--mode{
        grid-gap: clamp(12px, 1.7094vw, 20px);

        @include for-small-tablet{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
}