.main-nav {
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 2.0513vw, 24px);
  position: relative;
  padding: 18px 24px;
  width: fit-content;
  border-radius: 99px;
  backdrop-filter: blur(5.699999809265137px);
  background: var(--gr-g);
  @include gradient-border(var(--gr-h), 1px);

  &__item{
    display: flex;
  }

  &__link {
    color: rgba(var(--cl-c),1.0);
    font-size: 14px;
    transition: all 0.4s;
    font-weight: 400;
    white-space: nowrap;
    &.active {
      color: rgba(var(--cl-a),1.0);
    }

    &:hover {
      color: rgba(var(--cl-a),1.0);
    }
  }
}
