.referral-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;

    &--mode{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}