.token-list{
    display: grid;
    align-items: center;
    grid-gap: clamp(10px, 1.6239vw, 19px);

    @include for-small-tablet{
        grid-template-columns: repeat(5, 1fr);
    }

    @include small-tablet{
        grid-template-columns: repeat(5, 140px);
        overflow: auto;
        width: calc(100% + (var(--container-offset) * 2));
        margin-left: calc(var(--container-offset) * -1);
        padding: 0 var(--container-offset);
    }
}