.main-btn {
  border-radius: 999px;
  padding: 15px 22px;
  max-width: 297px;
  width: 100%;
  height: 80px;
  background: var(--gr-k);
  font-weight: 600;
  font-size: 16px;
  color: rgba(var(--cl-f),1.0);
  font-family: var(--font-family);
  grid-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  position: relative;

  &:hover {
    color:  rgba(var(--cl-a),1.0);
  }

  &--mode{
    background: var(--gr-j);
  }

  &--app{
    background: var(--gr-j);
    height: 46px;
    font-size: 14px;
    grid-gap: 5px;

    @include for-tablet{
      width: 231px;
    }

    @include tablet{
      @include for-small-tablet{
        width: clamp(194px, 22.559vw, 231px);
      }
    }

    @include small-tablet{
      max-width: 100%;
    }

   
  }
}

.blue-btn{
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 14px 18px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #201c46 0%, rgba(32, 28, 70, 0) 100%);
  @include gradient-border(linear-gradient(37deg, #29235c 0%, rgba(41, 35, 92, 0) 100%), 1px);
  z-index: 1;

  &::after{
      position: absolute;
      content: '';
      inset: 0;
      transition: all .3s;
      background: linear-gradient(180deg, #2a2758 0%, rgba(42, 39, 88, 0.65) 100%);
      border-radius: inherit;
      z-index: -2;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
  }

  span{
      position: absolute;
      content: '';
      inset: 0;
      transition: all .3s;
      background: linear-gradient(180deg, rgba(42, 39, 88, 0) 0%, rgba(42, 39, 88, 0.25) 100%);
      border-radius: inherit;
      z-index: -1;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
  }

  &:hover{
     &::after{
      opacity: 1;
      visibility: visible;
     }
  }

  &:focus{
      &::after{
          opacity: 0;
          visibility: hidden;
      }
      span{
          visibility: visible;
          opacity: 1;
         }
  }

  &:disabled{
      opacity: 0.4;
  }
}

